#########################################
# Ignore IDE and working files/folder
#########################################
.DS_Store
.idea

#########################################
# Don't track content of these folders
#########################################
laravel-app/vendor
laravel-app/.composer
laravel-app/composer.lock

#########################################
# Ingnore environment file
#########################################
.env

########################################
# Ignore Compiled source #
########################################
*.com
*.class
*.dll
*.exe
*.o
*.so

#########################################
# Miscellaneous
#########################################
LICENSE